@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.2s linear;
}

.nav_link {
  @apply border-b-2 border-white w-20 h-full flex items-center justify-center;
  a {
    @apply h-full w-full flex justify-center items-center;
  }
  &:hover {
    @apply border-gray-600;
  }
}

.btn {
  @apply w-full my-1 font-light text-lg text-center rounded-sm py-4;
}
.btn:focus {
  @apply outline-none border-teal-500;
}

.input {
  @apply my-1;
  &.has_error {
    input {
      @apply bg-red-300 border-red-400 text-red-600;
      &::placeholder {
        @apply text-red-600;
      }
      &:focus {
        @apply border-red-600;
      }
    }
  }
}

.input {
  textarea {
    @apply w-full font-light text-lg text-left rounded-sm py-4 text-left border border-gray-600 px-5;
    resize: none;
    height: 150px;
  }
  select {
    @apply w-full font-light text-lg text-left rounded-sm py-2 text-left border border-gray-600 px-5;
    height: 50px;
  }
  input {
    @apply w-full font-light text-lg text-left rounded-sm py-4 text-left border border-gray-600 px-5;
    &:focus {
      @apply outline-none border-teal-500;
    }
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  5% {
    opacity: 1;
    transform: translateY(-15px);
  }
  95% {
    opacity: 1;
    transform: translateY(-15px);
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}

.message_ul {
  animation: messageFadeIn 5s ease-in-out forwards;
}

.message {
  &.debug {
    @apply bg-red-500 text-white;
  }
  &.info {
    @apply bg-blue-400 text-white;
  }
  &.success {
    @apply bg-green-400 text-white;
  }
  &.warning {
    @apply bg-yellow-400 text-black;
  }
  &.error {
    @apply bg-red-500 text-white;
  }
}

@tailwind utilities;
